<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Coolest thing ever</title>
		<script src="https://www.rdio.com/api/api.js?client_id=ygG5sXnb51r_8p-41_o6Ww"></script>
		<script data-main="scripts/main" src="scripts/require.js"></script>
		<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
	</head>
	<body>
		<div class="container">
			<img data-bind="attr: {src: theTrack().icon, alt: theTrack().title}" src="#" />
			<p>Now Playing: <span data-bind="text: theTrack().title"></span> by <span data-bind="text: theTrack().artist"></span></p>
			<div class="controls">
				<button class="btn btn-primary" data-bind="click: player.back"><<</button>
				<button class="btn btn-primary" data-bind="click: player.togglePause">Play</button>
				<button class="btn btn-primary" data-bind="click: player.next">>></button>
			</div>
		</div>
	</body>
</html>